@model Person

<div class="row">
    <div class="col-3">@Model.FullName</div>
    <div class="col-3">@Model.City</div>
    <div class="col-3">@Model.PhoneNumber</div>
    <div>@Html.ActionLink("Details", "Details", "Person", new {id = Model.Id})</div>
</div>


