@model List<Person>

<div class="row">
    <div class="col-3">Name</div>
    <div class="col-3">City</div>
    <div class="col-3">PhoneNumber</div>
</div>

@foreach(Person person in Model)
{
    <partial name="_PersonRow" model="person" />
}